<h1>Sales Report</h1>

<% @grand_total = 0 %>
<% @products.each do |product| %>
    <%= image_tag product.image, :class => 'thumb'  %>
    <p>Name: <%= product.name %></p>
    <% total_revenue = 0 %>
    <% total_quantity = 0 %>
    <% lines = @line_items.where(:product_id => product.id) %>
    <% lines.each do |item| %>
        <% total_revenue += item.unit_price * item.quantity %>
        <% total_quantity += item.quantity %>
    <% end %>
    <p>Total Sales (units): <%= total_quantity %></p>
    <p>Total Sales ($): <%= number_to_currency(total_revenue) %></p>
    <br>
    <% @grand_total += total_revenue %>
<% end %>
<p>Grand Total Sales ($): <%= number_to_currency(@grand_total) %></p>
