<h1>All Users</h1>

<% @users.each do |user| %>
    <% total = 0 %>
    <% Order.where(:user_id => user.id).each do |order| %>
        <% total += order.total_revenue %>
    <% end %>
    <hr>
    <div class="row">
        <div class="col-sm-2"><%= user.name %></div>
        <div class="col-sm-2">Email: <%= user.email %></div>
        <div class="col-sm-1">Phone: <%= user.phone %></div>
        <div class="col-sm-1">Birthday: <%= user.birthday %></div>
        <div class="col-sm-2">Reward Level: <%= user.reward_level %></div>
        <div class="col-sm-2">Total Sales: <%= number_to_currency(total) %></div>
        <div class="col-sm-2"><%= link_to(button_tag("Orders"), orders_path(:id => user.id)) %></div>
    </div>
    <br>
<% end %>
