<h1>All Users</h1>

<% @users.each do |user| %>
    Name: <%= user.name %> |
    Email: <%= user.email %> |
    Phone: <%= user.phone %> |
    Birthday: <%= user.birthday %> |
    Reward Level: <%= user.reward_level %> |
    <% total = 0 %>
    <% Order.where(:user_id => user.id).each do |order| %>
        <% total += order.total_cost %>
    <% end %>
    Total Sales: <%= number_to_currency(total) %>
    <%= link_to "Orders", orders_path(:id => user.id) %>
    <br>
<% end %>
