<div class="admin">
<h1><%= @product.name %></h1>

<%= image_tag(@product.image, :class => "feature") %>
<% if @product.active.blank? %>
    <p><%= button_tag "Inactive" %></p>
<% elsif @current_user.present? && @product.inventory != 0 %>
    <p><%= link_to (button_tag "Add to Cart"), cart_add_path(:id => @product.id, :page => 'show') %></p>
<% elsif @product.inventory == 0 %>
    <p><%= button_tag "Out of Stock" %></p>
<% end %>
<% unless @product.on_sale? %>
    <p>Price: <%= number_to_currency(@product.price_regular) %></p>
<% end %>
<% if @product.on_sale? %>
    <p class="product-sale">Price: <%= number_to_currency(@product.price_regular) %></p>
    <p>Sale Price: <%= number_to_currency(@product.price_sale) %></p>
    <%  %>
    <%  %>
<% end %>
<p>Description: <%= @product.description %></p>
<% if @current_user.present? %>
    <% if @current_user.admin? %>
        <p>Tags: <%= @product.tags %></p>
        <p>Stock Available: <%= @product.inventory %></p>
        <p>Cost Price: <%= number_to_currency(@product.unit_cost_price) %></p>
        <p>Regular Price: <%= number_to_currency(@product.price_regular) %></p>
        <p>Sale Price: <%= number_to_currency(@product.price_sale) %></p>
        <p>Currently on sale: <%= @product.on_sale %></p>
        <p>Taxed: <%= @product.tax_applies %></p>
        <%= link_to "Edit Product", edit_product_path %>
        <%= link_to "Add Stock", purchase_stock_path %>
    <% end %>
    <% if @current_user.master? %>
        <p>Business: <%= @product.business_id %></p>
    <% end %>
<% end %>
</div>
