<!DOCTYPE html>
<html>
<head>
  <title>Eshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Contact Us", pages_contact_path %>
        <% if @current_user.present? %>
            <%= link_to "Edit profile", edit_user_path(@current_user) %>
            <%= link_to "Logout #{ @current_user.email}", login_path, :method => :delete %>
        <% else %>
            <%= link_to "Signup", signup_path %>
            <%= link_to "Login", login_path  %>
        <% end %>
    </nav>

    <div class="container-fluid search-nav">
      <div class='row'>
        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
            <div class="col-sm-3" :id="business-logo"><%= Business.first.logo %></div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-8"><%= text_field_tag :search, params[:search], placeholder: "Search Products", id: "product-search-field" %></div>
                    <div class="col-sm-4"><%= submit_tag "Search", id: "product-search-button" %></div>
                </div>
            </div>
        <% end %>
        <div class="col-sm-2"><%= link_to(button_tag('Shopping Cart', :id => 'cart-button'), cart_path) %></div>
      </div>
    </div>

    <div class='main-menu-wrapper'>
      <div class='main-menu-list'>
        <% if @current_user.nil? %>
            <%= link_to "All Products", products_path %>
            <%= link_to "Previous Orders", orders_path %>
        <% elsif @current_user.present? && @current_user.admin.nil? %>
            <%= link_to "All Products", products_path %>
            <%= link_to "Previous Orders", orders_path %>
        <% elsif @current_user.admin? %>
        <div class="btn-toolbar" role="toolbar">
            <%= link_to "All Products", products_path %>
            <%= link_to "New Product", new_product_path %> |
            <%= link_to "All Users", users_path %>
            <%= link_to "All Orders", orders_path %>
            <%= link_to "Sales", reports_sales_path %>
            <%= link_to "Profit", reports_profit_path %> |
            <%= link_to "Inventory", reports_inventory_path %>
            <%= link_to "Shipping", reports_shipping_path %>
            <%= link_to "Finalise", reports_finalise_path %>
          <% else %>

          <% end %>
          <% if @current_user.master? %>
            | <%= link_to "Business", business_path(@current_user.business_id) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </header>

  <div class='main-area'>
    <% if flash[:error].present? %>
      <h2 class='error'>
        <%= flash[:error] %>
      </h2>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
