<!DOCTYPE html>
<html>
<head>
  <title>Eshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
        <%= link_to "Home", root_path %>
        <% if @current_user.present? %>
            <%= link_to "Edit profile", edit_user_path(@current_user) %>
            <%= link_to "Logout #{ @current_user.email}", login_path, :method => :delete %>
        <% else %>
            <%= link_to "Signup", signup_path %>
            <%= link_to "Login", login_path  %>
        <% end %>
    </nav>
    <div class='search-nav'>
        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Products", id: "product-search-field" %>
            <%= submit_tag "Search", id: "product-search-button" %>
            <%= link_to(button_tag('Shopping Cart', :id => 'cart-button'), cart_path) %>
        <% end %>

    </div>
    <div class='main-menu-wrapper'>
      <div class='main-menu-list'>
        <%= link_to "All Products", products_path %>
        <% if @current_user.present? %>
          <% if @current_user.admin? %>
            <%= link_to "New Product", new_product_path %>
            <%= link_to "All Users", users_path %>
            <%= link_to "All Orders", orders_path %>
            <%= link_to "Inventory", reports_inventory_path %>
            <%= link_to "Sales", reports_sales_path %>
            <%= link_to "Profit", reports_profit_path %>
          <% else %>
            <%= link_to "Previous Orders", orders_path %>
          <% end %>
        <% end %>
      </div>
    </div>
  </header>

  <div class='main-area'>
    <% if flash[:error].present? %>
      <h2 class='error'>
        <%= flash[:error] %>
      </h2>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
