<% order_status(@order.id) %>
<h1>Order</h1>

<ul>
<% @purchased_items.each do |item| %>
      <% product = Product.find item.product_id %>
      <li>
        <%= link_to(image_tag(product.image, :class => 'thumb'), product_path(product.id)) %>
        <p><%= product.name %></p>
        <p>Quantity: <%= item.quantity %></p>
        <p>Total Price: <%= number_to_currency(item.unit_price * item.quantity)  %></p>
      </li>
<% end %>
      <li>
          <p>Total Price: <%= number_to_currency(@order.total_revenue) %></p>
          <p>includes GST: <%= number_to_currency(@order.total_tax) %></p>
      </li>
</ul>

<%= form_for(@order) do |f| %>
      <%= f.label :delivery_address %>
      <%= f.text_field :delivery_address %>
      <br>
      <br>
      <% inv = 'INV' + @order.id.to_s.rjust(5, '0') %>
      <%= f.hidden_field :invoice_number, :value => inv %>
      <%= f.submit "Submit" %>
<% end %>
