<div class="admin">
<% order_status(@order.id) %>
<h1>Order</h1>

<p>Date: <%= @order.purchase_date %></p>
<p>Invoice Number: <%= @order.invoice_number %></p>
<br>
<p>Name: <%= @customer.name %></p>
<p>Delivery Address: <%= @order.delivery_address %></p>

<ul>
<% @purchased_items.each do |item| %>
      <% product = Product.find item.product_id %>
      <li>
        <%= link_to(image_tag(product.image, :class => 'index-image'), product_path(product.id)) %>
        <p><%= product.name %></p>
        <p>Quantity: <%= item.quantity %></p>
        <p>Total Price: <%= number_to_currency(item.unit_price * item.quantity)  %></p>
      </li>
<% end %>
      <li>
          <p>Total Price: <%= number_to_currency(@order.total_revenue) %></p>
          <p>includes GST: <%= number_to_currency(@order.total_tax) %></p>
      </li>
</ul>
<p>Order Status: <%= @order.order_status %></p>
<p>Purchase Date: <%= @order.purchase_date %></p>
<p>Payment Date: <%= @order.payment_date %></p>
<p>Shipped Date: <%= @order.shipped_date %></p>
<p>Finalised Date: <%= @order.finalised_date %></p>

<% if @current_user.admin? %>
      <%= link_to(button_tag("Update Status"), edit_order_path(@order.id) ) %>
<% end %>
</div>
